@model List<Empleado>

<h1>Session Empleados</h1>
<a asp-controller="Empleados"
   asp-action="EmpleadosAlmacenados">
    Empleados almacenados Session
</a>
<hr/>
<h2 style="color:blue">
    @ViewData["MENSAJE"]
</h2>
<ul class="list-group">
    @foreach (Empleado emp in Model)
    {
        <li class="list-group-item list-group-item-info">
            @emp.Apellido
            <a asp-controller="Empleados"
               asp-action="SessionEmpleados"
               asp-route-idempleado="@emp.IdEmpleado"
               class="btn btn-danger">
                Almacenar empleado
            </a>
        </li> 
    }
</ul>
