@model List<Empleado>

@{ 
    List<int> listaSession =
        Context.Session.GetObject<List<int>>("IDSEMPLEADOS");
}

<h1 style="color:fuchsia">
    Empleados Session Correcto
</h1>

<a asp-controller="Empleados"
   asp-action="EmpleadosAlmacenadosCorrecto">
    Mostrar empleados almacenados
</a>

<h2 style="color:crimson">
    @ViewData["MENSAJE"]
</h2>

<ul class="list-group">
    @foreach (Empleado emp in Model)
    {
    <li class="list-group-item list-group-item-danger">
        @emp.Apellido

        @if (listaSession == null)
        {
            <a asp-controller="Empleados"
               asp-action="SessionEmpleadosCorrecto"
               asp-route-idempleado="@emp.IdEmpleado"
               class="btn btn-info">
                Almacenar Empleado
            </a>
        }
        else
        {
            if (listaSession.Contains(emp.IdEmpleado))
            {
                <img src="~/images/empleado.jpg" 
                     style="width: 100px; height: 100px" />
            }
            else
            {
                <a asp-controller="Empleados"
                   asp-action="SessionEmpleadosCorrecto"
                   asp-route-idempleado="@emp.IdEmpleado"
                   class="btn btn-info">
                    Almacenar Empleado
                </a>
            }
        }
    </li>
    }
</ul>