<h1>Log In empleados</h1>

<form method="post">
    <label>Apellido: </label>
    <input type="text" name="apellido" class="form-control"/>
    <button type="submit" class="btn btn-info">
        Log In
    </button>
</form>